body{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #abe1f4;

}

img{
    transition: 0.5s;
    max-width: 400px;
    margin:0 10px;
}

img:hover{
   filter: grayscale(1) contrast(6);
}