*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}
.container{
    position: relative;
    width: 600px;
    height: 400px;
    border: 3px solid white;
}
.container .box{
    position: absolute;
    width: 100%;
    height: 100%;
}
.container .box:nth-child(1){
    background: url(https://images.unsplash.com/photo-1565958011703-44f9829ba187?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
}
.container .box:nth-child(2){
    background: url(https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGZvb2R8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60)
    ;
    z-index: 2;
    transition: 0.5s;
    clip-path: polygon(0 0, 100% 0, 40% 62%, 0% 100%);
}
.container .box:nth-child(2):hover{

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.container .box:nth-child(1):hover ~ .box:nth-child(2){
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

}